@page "/org"

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Danh sách tuyến đọc</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center ">
            @*<button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>*@
            @*<EjsButton  CssClass="e-info">Create New</EjsButton>*@
        </div>
    </div>
</div>
<div class="row" >
    @*<div class="col-12">
            <div class="card">
                <div class="card-body ">
                org page
                </div>
            </div>
        </div>*@
  
</div>
