@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<div class="container">

    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-primary" href="/">Go to home</a>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
