@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}
 
<link href="~/dist/css/pages/login-register-lock.css" rel="stylesheet">
<div class="login-register" style="background-image:url(../../assets/images/background/NanoCell-bg.jpg);">
    <div class="login-box card shadow rounded">
        <div class="card-body">
            @*<p class="text-info">
            You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
            Please enter an email address for this site below and click the Register button to finish
            logging in.
            </p>*@
           
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <center class="m-t-30">
                        <img src="@Model.Input.AvatarURL" class="img-circle" width="150">
                    </center>
                    </div>
                    <input type="hidden" asp-for="Input.AvatarURL" class="form-control" />
                    <div class="form-group">
                        <input asp-for="Input.Surname" class="form-control" />
                        <span asp-validation-for="Input.Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Input.Email"></label>*@
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
